#root {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

App {
  width: 100vw;
  height: auto;
}

.Card {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  padding: 24px 16px 24px 16px;
  color: white;
  width: 240px;
  height: fit-content;
  border-radius: 12px;
  background-color: #1A1B21;
  
}

.Info {
  display: flex;
  flex-direction: column;
  text-align:center;
}

.Portrait {
  align-self: center;
  width: 120px;
  height: auto;
}